@font-face {
    font-family: 'MADETOMMY-Black';
    src: url('font/MADETOMMY-Black.woff2') format('woff2'),
        url('font/MADETOMMY-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADETOMMY-Light';
    src: url('font/MADETOMMY-Light.woff2') format('woff2'),
        url('font/MADETOMMY-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADETOMMY-Bold';
    src: url('font/MADETOMMY-Bold.woff2') format('woff2'),
        url('font/MADETOMMY-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADETOMMY';
    src: url('font/MADETOMMY.woff2') format('woff2'),
        url('font/MADETOMMY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(circle at center, #1c1c1c 0%, #000000 100%);

}
* {
    margin: 0;
padding: 0;
box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 30px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.5);
    padding: 10px 15px;
    margin: 20px auto;
    width: 90%;

    max-width: 1500px;
    border: 2px solid white;
  border-radius: 50px
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    font-family:'MADETOMMY-Light';
    padding: 20px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
}
.nav-links a.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.hero-text {
    color: white;
    text-align: left;
    padding-top: 100px;  
    padding-left:clamp(50px, 10vw, 200px);
    margin-left: auto;

}
.hero-text h2 span{
    font-size: clamp(17.2px, 5vw, 40px);
    font-family: 'MADETOMMY-Bold';
}
.hero-text h1{
    font-size: clamp(60px, 10vw, 100px);
    font-family: 'MADETOMMY-Black';
    font-weight: lighter;
    margin: 20px 0;
   
}
.hero-text p{
    font-size:clamp(10.75px, 3.5vw, 25px);
    font-weight:300;
    font-family: 'MADETOMMY-Light';
    line-height: 1.5;
    opacity: 0.9;
}
.heading {
    color: white;
    text-align: left;
    padding-top: 10px;  
    padding-left:clamp(40px, 8vw, 160px);
    padding-right: clamp(0px, 10vw, 250px);
    padding-bottom: 5px;
}
.heading h2{
    font-family: 'MADETOMMY-Bold';
    font-size:clamp(30px, 7vw, 50px);
}
.heading p{
    font-family: 'MADETOMMY-Light';
    font-size: clamp(12px, 6vw, 22px);
    letter-spacing: 1px;
    margin: 30px 0;
}
.contactmessage{
   max-width: 520px;
}
.social-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding-bottom: 30px;
    padding-left:clamp(40px, 8vw, 160px);
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 0;
}
.social-line{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgba(255, 0, 0, 0);
    transition: transform 0.3s ease;
    color: white;
}
.social-line:hover{
    background-color: rgba(2, 2, 2, 0.5);
}
.icon-box{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 60px;
    flex-shrink: 0;
}
.textbox h4{
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'MADETOMMY-Bold';
}
.textbox p{
    font-family: 'MADETOMMY-Light';
    margin: 2px 0 0;
    font-size: 14px;
    opacity: 0.7;
}
.resume{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding-bottom: 30px;
    padding-left:clamp(40px, 8vw, 160px);
    padding-right:clamp(40px, 8vw, 160px);
    max-width: 1200px;
    margin : 50px auto;
    justify-content: center;
}
.resume-block{
    align-items: center;
    gap: 15px;
    border: 2px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease;
    color: white;
}
.resume-block h2{
    font-family: 'MADETOMMY-Bold';
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 5px;

}
.resume-block ul{
    padding-left: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'MADETOMMY-Light';
    font-size: 18.75px;
}
.resume-block p{
    padding-left: 30px;
    font-family: 'MADETOMMY-Light';
    font-size: 18.75px;
}
.grid-item h3{
    color: white;
    padding: 15px;
    margin: 16px auto;
    border-radius: 16px;
    font-size: clamp(24px ,3.5vw, 35px);
    line-height: 1.4;
    font-family: 'MADETOMMY-Bold';
    text-align: center;   
}
  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1px;
  gap: 12px;
  max-width: 1100px; /* Optional max-width */
  margin: 0 auto;
  padding: 50px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0);
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  color: white;
  border-radius: 20px;
}
.social-grid a{
     text-decoration: none;
    color: white;
}
.see-all{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.see-all img{
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(15%);
    transition: filter 0.3 ease;
}
.see-all span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'MADETOMMY-Light';
    font-size: clamp(17px,2vw,2vw);
    font-weight: bold;
    pointer-events: none;
}
.see-all:hover{
    filter: grayscale(100);
}
.buttons{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
    z-index: 1000;
    width: 90%;
    max-width: 1700px;
    margin: 20px auto;
    padding: 0 3vw;
}
.backbutton{
    background-color: rgba(2, 2, 2, 0.7);
    margin: 0;
    width: 10%;
    max-width: 150px;
    min-width: 90px;
    border: 2px solid white;
    border-radius: 30px;
    transition:  all 0.3s ease;
}
.backbutton h3{
    color: white;
    font-family:'MADETOMMY-Light';
    padding: 15px;
    text-align: center;
    font-size: clamp(15px,2vw,15px);
}
.backbutton:hover{
    background-color: rgba(2, 2, 2, 0.2);
    box-shadow: 0 4px 12px rgba(206, 206, 206, 0.3);
}
.all-masonry{
    columns: 300px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px 30px;
}
.all-masonry img{
    margin-bottom: 20px;
}
.ui-design{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.mobile-nav{
    display: none;
}
.hamburger{
    display: none;
}
.overlay-box{
    display: none;
}

@media(max-width: 768px){
    .nav-links{
        display: none;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        padding: 20px;
    }
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 2px;
    }
    .overlay-box {
        display: none;
        position: fixed;
        right: 5%;
        top: 130px;
        background-color: rgba(2, 2, 2, 0.5);
        border: 2px solid white;
        border-radius: 20px;
        padding: 15px;
        z-index: 999;
        width: 200px;
        text-align: center;
        font-family: 'MADETOMMY-Light';
    }
    .overlay-box a{
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
        
    }
    
    .overlay-box a:hover{
        background-color: rgba(2, 2, 2, 0.5);
    }
   .mobile-nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 15px;
        margin: 130px auto 0;
        padding-bottom: 30px;
        width: 90%;
        max-width: 768px;
    
    }
    .mobile-nav a {
        font-family: 'MADETOMMY-Light';
        text-decoration: none;
        color: white;
        padding: 5% 0;
        width: 100%;
        text-align: center;
        border: 2px solid white;
        border-radius: 50px;
        background-color: rgba(2, 2, 2, 0);
        font-size: 14px;
        transition: background 0.3s ease;
    }
    .mobile-nav a:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
    .contactmessage{
    padding-right: 0px
}
  .social-grid{
    grid-template-columns: 1fr;
   }
   .resume{
    grid-template-columns: 1fr;
   }
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}